<% content_for :page_title do %>
  <%= "#{t("actions.listing")} #{t("offers")}" %>
<% end %>

<table class="index sortable">
  <thead>
    <tr>
      <th>
        <%=t("email")%>
      </th>
      <th>
        <%=t("product")%>
      </th>
      <th>
        <%=t("list_price")%>
      </th>
      <th>
        <%=t("offer_price")%>
      </th>
      <th>
        <%=t("created")%>
      </th>
      <th>
        <%=t("expires")%>
      </th>
      <th>
        <%= t(:status) %>
      </th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |offer| %>
    <tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id offer %>" >
      <td>
        <%= offer.user.email %>
      </td>
      <td>
        <%= link_to offer.product.name, product_path(offer.product.permalink) %>
      </td>
      <td>
        <%= Spree::Money.new(offer.product.price).to_s %>
      </td>
      <td>
        <%= Spree::Money.new(offer.price, no_currency: true).to_s %>
      </td>
      <td>
        <%= offer.created_at.strftime('%d/%m/%y às %H:%m') %>
      </td>
      <td>
        <%= offer.expires_at.strftime('%d/%m/%y às %H:%m') %>
      </td>
      <td>
        <%= offer_status(offer) %>
      </td>
      <td class="actions">
        <% if offer.accepted_at.nil? && offer.rejected_at.nil? %>
          <%= link_to_with_icon "icon-capture", t(:accept_offer), accepted_admin_offers_path(offer), no_text: true, data: {action: 'capture'} %>
          <%= link_to_with_icon "icon-void", t(:reject_offer), rejected_admin_offers_path(offer), no_text: true, data: {action: 'void'} %>
        <% end %>
      </td>
    </tr><% end %>
  </tbody>
</table>
<%= paginate @offers %>
