<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Offer) %>
<% end %>

<table class="index sortable table">
  <thead>
    <tr>
      <th>
        <%=t("offer.email.text")%>
      </th>
      <th>
        <%=t("offer.product")%>
      </th>
      <th>
        <%=t("offer.list_price")%>
      </th>
      <th>
        <%=t("offer.offer_price")%>
      </th>
      <th>
        <%=t("offer.counter_offer")%>
      </th>
      <th>
        <%=t("offer.created")%>
      </th>
      <th>
        <%=t("offer.expires")%>
      </th>
      <th>
        <%= t(:status) %>
      </th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |offer| %>
    <tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id offer %>" >
      <td>
        <%= offer.user.email %>
      </td>
      <td>
        <%= link_to offer.product.name, product_path(offer.product) %>
      </td>
      <td>
        <%= Spree::Money.new(offer.product.price).to_s %>
      </td>
      <td>
        <%= Spree::Money.new(offer.price, no_currency: true).to_s %>
      </td>
      <td>
        <% if offer.counter_price.present? %>
          <%= Spree::Money.new(offer.counter_price, no_currency: true).to_s %>
        <% else %>
          <%= form_tag counter_offer_admin_offers_path(offer) do |f| %>
            <%= text_field_tag :counter_price, nil, id: 'new-offer-price' %>
            <%= submit_tag 'Submit', id: 'submit-new-offer' %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= offer.created_at.strftime('%d/%m/%y %H:%m') %>
      </td>
      <td>
        <%= offer.expires_at.strftime('%d/%m/%y %H:%m') %>
      </td>
      <td>
        <%= offer_status(offer) %>
      </td>
      <td class="actions">
        <% if offer.accepted_at.nil? && offer.rejected_at.nil? %>
          <%= link_to_with_icon "icon-capture", t('accept_offer'), accepted_admin_offers_path(offer), no_text: true, data: {action: 'capture'} %>
          <%= link_to_with_icon "icon-void", t('reject_offer'), rejected_admin_offers_path(offer), no_text: true, data: {action: 'void'} %>
        <% end %>
      </td>
    </tr><% end %>
  </tbody>
</table>
<%= paginate @offers %>

<script type="text/javascript">
  $("#new-offer-price").maskMoney({prefix:'R$ ', allowNegative: false, thousands:'.', decimal:',', affixesStay: false});
</script>
