<% if (Spree::Config.offer_module rescue false) && (@offer.product_id.present? || @product.has_stock?)  %>
  <div class='row'>
    <%= form_tag('/make_an_offer', :method => :post) do %>
      <%= hidden_field_tag 'offer_id', (@offer.id.nil? ? nil : @offer.id) %>
      <%= hidden_field_tag 'offer_product_id', @product.id %>
      <%= hidden_field_tag 'offer_variant_id', @product.master.id %>
      <%= hidden_field_tag 'offer_previous_price', (@previous.nil? ? '0.00' : @previous.price) %>

      <% if @offer.accepted_at.present? %>
        <p>Offer <%= Spree::Money.new(@offer.price_accepted).to_s %> Accepted</p>
      <% else %>
        <div id="product-offer" class='col-md-4'>
          <h3><%= t("make_an_offer") %></h3>
          <div id="offer_fields" class="input-group" style="<%= 'display:none;' if @offer.accepted_at.present? %>">
            <%= text_field_tag 'offer_price', '', id: 'offer-price',class: "title form-control", size: 8, placeholder: @offer_price %>
            <span class='input-group-btn'><%= button_tag t((@offer.product_id.nil? ? 'submit_offer' : 'update_offer')), :class => 'btn btn-success', :type => :submit %></span>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $("#offer-price").maskMoney({prefix:'R$ ', allowNegative: false, thousands:'.', decimal:',', affixesStay: false});
</script>
