<% if @offer.product_id.present? || @product.has_stock?  %>
  <%= form_tag('/make_an_offer', :method => :post) do %>
    <%= hidden_field_tag 'offer_id', (@offer.id.nil? ? nil : @offer.id) %>
    <%= hidden_field_tag 'offer_product_id', @product.id %>
    <%= hidden_field_tag 'offer_variant_id', @product.master.id %>
    <%= hidden_field_tag 'offer_previous_price', (@previous.nil? ? '0.00' : @previous.price) %>
    <%= hidden_field_tag 'offer_permalink', (@product.permalink) %>

    <div id="product-offer">
      <h3><%= t("offer.make_an_offer") %></h3>

      <h4><%= t('offer.make_an_offer_subtitle')%></h4>

      <%= content_tag :p, link_to(t('offer.make_another_offer'), 'javascript:;', onclick: '$("#offer_fields").toggle();') if @offer.accepted_at.present? %>
      <div id="offer_fields" style="<%= 'display:none;' if @offer.accepted_at.present? %>">
        <%= text_field_tag 'offer_price', '', id: 'offer-price',class: "title", size: 8, placeholder: @offer_price %>
        <%= button_tag t((@offer.product_id.nil? ? 'offer.make_an_offer' : 'offer.update_offer')), :class => 'small secondary main', :type => :submit %>
      </div>

      <% if @offer.accepted_at.nil? %>
        <% if @offer.product_id.nil? %>
          <%= previous_price %>
        <% else %>
          <p id="current-offer"><%= t("offer.your_current_offer") %>: <%= @offer_price %></p>
        <% end %>
      <% else %>
        <%= t('offer.offer_accepted_text') %>
        <%= @offer_price %>
      <% end %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  $("#offer-price").maskMoney({prefix:'R$ ', allowNegative: false, thousands:'.', decimal:',', affixesStay: false});
</script>
