<% if @offer.product_id.present? || @product.has_stock?  %>
  <%= form_tag('/make_an_offer', :method => :post) do %>
    <%= hidden_field_tag 'offer_id', (@offer.id.nil? ? nil : @offer.id) %>
    <%= hidden_field_tag 'offer_product_id', @product.id %>
    <%= hidden_field_tag 'offer_variant_id', @product.master.id %>
    <%= hidden_field_tag 'offer_previous_price', (@previous.nil? ? '0.00' : @previous.price) %>
    <%= hidden_field_tag 'offer_permalink', (@product.permalink) %>

    <div id="offer-form">
      <h3><%= t("make_an_offer") %></h3>

      <% if @offer.product_id.nil? %>
        <%= (@previous.nil? ? '' : '<p>' + t('previous_high_offer') + ' <span class="price selling">' + @previous.price.to_f + '</span></p>').html_safe %>
      <% else %>
        <p id="current-offer"><%= t("your_current_offer") %>: <%= @offer_price %></p>
      <% end %>

      <% if @offer.accepted_at.nil? %>
        <%= text_field_tag 'offer_price', '', id: 'offer-price',class: "title", size: 8, placeholder: @offer_price %>
      <% else %>
        <%= money @offer %>
      <% end %>

      <% if @offer.accepted_at.nil? %>
        <%= button_tag t((@offer.product_id.nil? ? 'make_offer' : 'update_offer')), :class => 'small secondary main', :type => :submit %>
      <% end %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  $("#offer-price").maskMoney({prefix:'R$ ', allowNegative: false, thousands:'.', decimal:',', affixesStay: false});
</script>
