<% if (Spree::Config.offer_module rescue false) && (@offer.product_id.present? || @product.has_stock?)  %>
  <div class='row'>
    <%= form_tag('/make_an_offer', :method => :post) do %>
      <%= hidden_field_tag 'offer_id', (@offer.id.nil? ? nil : @offer.id) %>
      <%= hidden_field_tag 'offer_product_id', @product.id %>
      <%= hidden_field_tag 'offer_variant_id', @product.master.id %>
      <%= hidden_field_tag 'offer_previous_price', (@previous.nil? ? '0.00' : @previous.price) %>

      <div id="product-offer" class='col-md-4'>
        <h3><%= t("make_an_offer") %></h3>

        <%= content_tag :p, link_to(t('make_another_offer'), 'javascript:;', onclick: '$("#offer_fields").toggle();') if @offer.accepted_at.present? %>
        <div id="offer_fields" class="input-group" style="<%= 'display:none;' if @offer.accepted_at.present? %>">
          <%= text_field_tag 'offer_price', '', id: 'offer-price',class: "title form-control", size: 8, placeholder: @offer_price %>
          <span class='input-group-btn'><%= button_tag t((@offer.product_id.nil? ? 'submit_offer' : 'update_offer')), :class => 'btn btn-success', :type => :submit %></span>
        </div>

        <% if @offer.accepted_at.nil? %>
          <% if @offer.product_id.nil? %>
            <%= previous_price %>
          <% else %>
            <p id="current-offer"><%= t("offer.your_current_offer") %>: <%= @offer_price %></p>
          <% end %>
        <% else %>
          <%= t('offer_accepted_text') %>
          <%= @offer_price %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $("#offer-price").maskMoney({prefix:'R$ ', allowNegative: false, thousands:'.', decimal:',', affixesStay: false});
</script>
